.form-section{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 90%;
    justify-content: space-between;
}

.form-div{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border:solid 2px lightgray;
    height: 280px;
    width: 90%;
}


.form-div input{
    padding:10px;
    margin: 5px;
}

fieldset{
    margin-top: 20px;
    padding: 20px;
}


button{
    padding: 5px 10px;
}
