*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(190, 181, 181, 0.89);

}

hr{
    height:2px;
}


